:root {
  --main-bg-color: #f1f6fa;
  --accent-color: #a5d898;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

header {
  height: 75px;
  width: 100%;
  background-color: var(--accent-color);
}

ul {
  list-style: none;
  float: right;
  margin-right: 100px;
}

li {
  display: inline-block;
  margin-left: 60px;
  padding-top: 30px;
  position: relative;
  color: gray;
}

a {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
  color: #424949;
}

.header a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #424949;
  position: absolute;
  top: -16px;
  transition: all ease-in-out 250ms;
}

.header a:hover::before {
  width: 100%;
}

.logo {
  position: absolute;
  top: 35px;
  left: 20px;
  color: black;
  font-size: 1.8rem;
  float: left;
}

h1 {
  color: black;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  font-family: "Nunito", sans-serif;
}

.left-div {
  display: flex;
  flex-direction: column;
  background-color: #e0e5e9;
  color: black;
  height: 500px;
  width: 65%;
  margin-left: 12rem;
  margin-top: 5rem;
  margin-bottom: 17rem;
  border-radius: 4px;
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
}

.social {
  padding: 5px 10px;
  font-size: 45px;
}

.social:hover {
  cursor: pointer;
  color: var(--accent-color);
  transform: scale(1.1);
}

.contact {
  font-size: 48px;
  margin-bottom: 30px;
}

.contact-info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.contact-header {
  padding: 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid black;
  font-weight: bolder;
  font-size: 21px;
}

.contact-paragraph {
  padding: 0;
  margin: 0 0 2rem 0;
  font-size: 20px;
}

.right-div {
  position: absolute;
  top: 280px;
  left: 735px;
  width: 485px;
  height: 450px;
  margin-bottom: 4rem;
  background-color: black;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 3px 3px 16px 3px rgba(0, 0, 0, 0.57);
}

.right-div p {
  color: white;
  text-align: center;
  font-size: 26px;
  padding: 35px 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin: auto;
}

input,
textarea {
  height: 22px;
  width: 100px;
  font-size: 20px;
  background-color: black;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  color: white;
  transition-duration: 0.3s;
}

input:focus,
textarea:focus {
  outline: none;
  height: 25px;
  width: 285px;
}

textarea {
  color: white;
}

.input-item {
  margin: 20px 0;
}

.btn {
  background-color: #f15d4c;
  border-radius: 3px;
  padding: 0;
  color: black;
  height: 25px;
  border: none;
  width: 100%;
  font-size: 15px;
}

.btn:hover {
  cursor: pointer;
  font-style: italic;
  transform: scale(1.01);
  font-weight: bold;
}

.btn:focus {
  border: none;
}

.page-title {
  margin: 6rem 0 2rem 0;
}

.projects-page {
  margin-bottom: 4rem;
}

.projects-title {
  margin-bottom: 6rem;
}

.project {
  border-bottom: 3px solid var(--accent-color);
  width: 80%;
  margin: auto;
  height: 300px;
  color: black;
  display: flex;
}

.project h2 {
  border: 2px solid black;
  margin: 0 30px;
  padding: 20px;
  background-color: black;
  color: white;
}

.project-left {
  margin: auto;
}

.project-left img {
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
  transition: 0.4s ease;
}

.project-left img:hover {
  transform: scale(2);
}

.project p {
  margin: 5rem 0 3rem 2rem;
}

.project-right a {
  border: 1px solid black;
  padding: 5px;
  margin: 0 10px;
  float: right;
  color: black;
}

.project-right a:hover {
  border: 1px solid black;
  color: white;
  background-color: black;
}

.home-page {
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 4px;
  width: 85%;
  height: 90vh;
  margin: 2rem auto;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.5);
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  font-size: 2.4rem;
  line-height: 4rem;
  font-family: "Nunito", sans-serif;
}

.title-accent-1 {
  font-style: italic;
  font-size: 3.2rem;
  font-weight: 600;
}

.title-accent-2 {
  color: #8fbd84;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: 600;
}

.title-section-link {
  margin-top: 6rem;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  font-family: "Nunito", sans-serif;
  border: 1px solid black;
  border-radius: 4px;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  width: 60%;
  border: 6px solid black;
  border-radius: 3px 20px;
  box-shadow: 5px 5px 8px -4px rgba(0, 0, 0, 0.75);
}

.about-card-main {
  margin: 35px auto 3rem auto;
  height: 50%;
  width: 70%;
  margin-bottom: 2rem;
}

.project-image {
  width: 190px;
  height: 140px;
  margin: auto;
}

.about-card {
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.about-card p {
  margin-bottom: 2rem;
}

.about-title-1 {
  text-align: left;
  border-bottom: 1px solid black;
  padding-bottom: 0;
  margin-bottom: 0;
}

.skills-card {
  border-radius: 4px;
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
  background-color: var(--card-back-color);
  height: 80px;
  width: 70%;
  margin: 1rem auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-card img {
  height: 60px;
  width: 60px;
  padding: 0 15px;
  margin: 0;
}

.node-enter {
  opacity: 0;
}
.node-enter-active {
  opacity: 1;
  transition: opacity 1100ms;
}
.node-exit {
  opacity: 1;
}
.node-exit-active {
  opacity: 0 1000ms;
  transition: opacity 1500ms;
}
