:root {
  --main-bg-color: #f1f6fa;
  --accent-color: #a5d898;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: Var(--main-bg-color);
  margin: 0;
  padding: 0;
}

header {
  height: 75px;
  width: 100%;
  background-color: var(--accent-color);
}

ul {
  list-style: none;
  float: right;
  margin-right: 100px;
}

li {
  display: inline-block;
  margin-left: 75px;
  padding-top: 30px;
  position: relative;
  color: gray;
}

a {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
}

a:hover {
  cursor: pointer;
  color: #424949;
}

.header a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #424949;
  position: absolute;
  top: -16px;
  transition: all ease-in-out 250ms;
}

.header a:hover::before {
  width: 100%;
}

.logo {
  position: absolute;
  top: 25px;
  left: 20px;
  color: black;
  border: 2px solid black;
  width: 140px;
  height: 80px;
  border-radius: 6px;
  font-size: 4rem;
  float: left;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 16rem;
}

.card {
  width: 75%;
  height: 500px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  column-gap: 1rem;
}

.left-div {
  background-color: black;
  height: 470px;
  width: 400px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
}

.middle-div {
  background-color: black;
  height: 470px;
  width: 200px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  color: white;
  padding: 35px 0px;
  font-size: 40px;
}

.social:hover {
  cursor: pointer;
  color: var(--accent-color);
  transform: scale(1.1);
}

.contact {
  font-size: 48px;
  color: white;
  margin-bottom: 60px;
}

.contact-info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-header {
  padding: 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid white;
}

.contact-paragraph {
  padding: 0;
  margin: 0 0 2rem 0;
}

.right-div {
  background-color: black;
  height: 470px;
  width: 400px;
  margin: 15px;
  border-radius: 4px;
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
}

.right-div p {
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 35px 0 0 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

input,
textarea {
  height: 22px;
  background-color: black;
  border: none;
  color: white;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid var(--accent-color);
  height: 25px;
}

textarea {
  color: white;
}

.input-item {
  margin: 20px 0;
}

.btn {
  background-color: #cccccc;
  border-radius: 3px;
  padding: 0;
  color: black;
  height: 25px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  font-style: italic;
  transform: scale(1.01);
}

.btn:focus {
  border: none;
}

.page-title {
  margin: 6rem 0 2rem 0;
}

.projects-page {
  margin-bottom: 4rem;
}

.projects-title {
  margin-bottom: 6rem;
}

.project {
  border-bottom: 3px solid var(--accent-color);
  width: 80%;
  margin: auto;
  height: 300px;
  color: black;
  display: flex;
}

.project h2 {
  border: 2px solid black;
  margin: 0 30px;
  padding: 20px;
  background-color: black;
  color: white;
}

.project-left {
  margin: auto;
}

.project p {
  margin: 5rem 0 3rem 2rem;
}

.project-right a {
  border: 1px solid black;
  padding: 5px;
  margin: 0 10px;
  float: right;
  color: black;
}

.project-right a:hover {
  border: 1px solid black;
  color: white;
  background-color: black;
}

.home-card {
  margin: 35px auto 0 auto;
  width: 1000px;
  height: 400px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 10px;
}

.photo-card {
  display: flex;
  position: relative;
}

img {
  width: 190px;
  height: 190px;
  margin: auto;
  border-radius: 50%;
}

.about-card {
  color: black;
  height: 100%;
  width: 100%;
  display: flex;
  line-height: 1.7rem;
  justify-content: center;
  align-items: center;
}
.skills-card {
  border-radius: 4px;
  box-shadow: 3px 3px 8px -4px rgba(0, 0, 0, 0.75);
  background-color: var(--card-back-color);
  height: 85px;
  width: 1000px;
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-card img {
  height: 60px;
  width: 60px;
  padding: 0 30px;
  margin: 0;
}

.node-enter {
  opacity: 0;
}
.node-enter-active {
  opacity: 1;
  transition: opacity 900ms;
}
.node-exit {
  opacity: 1;
}
.node-exit-active {
  opacity: 0 1000ms;
  transition: opacity 1500ms;
}
